@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p><img style="float:left;margin-right:10px;" src="https://media-exp1.licdn.com/dms/image/C4E03AQF9rNUMyZFh3g/profile-displayphoto-shrink_200_200/0/1517543991389?e=1649289600&v=beta&t=Q1pjNxcRDro60r0V2d1IE_YYFWiwWtnKDpPPTwaMgDc">I am a full-stack developer specializing in front-end web development and accessibility.</p>
<p>For the past two years, I have worked as the district webmaster for Milwaukee Public Schools. My responsibilities include developing front-end content, troubleshooting issues and responding to all user requests, spanning the Central Services office and 150 schools.</p>
<p>Prior to my role at MPS, I worked as the Multimedia Manager for the Diederich College of Communication at Marquette University. While in that role, I oversaw all aspects of creative services for the college, including reviewing work, managing a team of graphic designers and special events coordinators, and completing all full-stack web development work using HTML, CSS, JavaScript, jQuery, PHP, and XML.</p>